/* Switzer Font - Only required weights for body and small fonts */
@font-face {
  font-family: "Switzer";
  src: url("/fonts/switzer/Switzer-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Switzer";
  src: url("/fonts/switzer/Switzer-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Switzer";
  src: url("/fonts/switzer/Switzer-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
